.cell {
    width: 30px;
    height: 30px;
    background-color: #F5F5F5;
    border: solid #789780 1px;
    cursor: pointer;

    &:not(.alive):hover {
        background-color: #EAB68E;
    }

    &.alive {
        background-color: #F6836B;
    }
}


